@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Waiting+for+the+Sunrise&display=swap');

html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  background-image: url(https://github.com/hrah03/hrah03.github.io/blob/main/note.png?raw=true),
                    url('https://github.com/hrah03/hrah03.github.io/blob/main/Final_Warmth_landingpage2.jpg?raw=true');
  background-size: 85%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.quotes-container {
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 55px;
  margin-left: -15px;
  margin-top: 80px;
}

.quote {
  font-size: 18px;
  padding: 5px;
  text-align: left;
  font-family: Waiting for the Sunrise;
  cursor: context-menu;
  white-space: nowrap;
  line-height: 2;
}

.doodle {
  font-size: 16px;
  padding: 5px;
  text-align: left;
  white-space: nowrap;
  line-height: 2;
  transform: translateY(-550px);
}

.quote[lang="ko"] {
  font-family: Gaegu;
  font-size: 16px;
}

.quote:nth-child(-n+14) {
  grid-column: 1;
}

.quote:nth-last-child(-n+8) {
  transform: translateY(-545px);
  grid-column: 2;
}

.home-button {
  position: fixed;
  top: 27.7px;
  right: 75px;
  font-size: 30px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.home-button:hover {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.back-button {
  position: fixed;
  top: 30px;
  right: 30px;
  font-size: 27px;
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.highlight-green {
  background-color: rgba(162, 208, 153, 0.5);
  padding: 0px 13px 10px;
  border-radius: 1px;
  line-height: 1;
  display: inline;
}

.highlight-red {
  background-color: rgba(215, 83, 110, 0.5);
  padding: 0px 13px 10px;
  border-radius: 1px;
  line-height: 1;
  display: inline;
}

.highlight-yellow {
  background-color: rgba(231, 236, 130, 0.5);
  padding: 0px 13px 10px;
  border-radius: 1px;
  line-height: 1;
  display: inline;
}

.overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  padding: 50px;
  box-sizing: border-box;
  width: 30%;
  max-width: 800px;
}

#leeOverlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215));
}

#belovedOverlay .overlay-content {
  background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238));
}

#banaOverlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218));
}

.book-cover {
  max-width: 130px;
  height: auto;
}

.book-info {
  color: black;
  text-align: center;
  font-family: Waiting for the Sunrise;
  font-size: 18.5px;
}

#q1Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q2Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q3Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q4Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q5Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q6Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q7Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q8Overlay .overlay-content {
  background: radial-gradient(rgb(188, 234, 162), rgb(226, 244, 215, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Gaegu;
}

#q9Overlay .overlay-content {
  background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q10Overlay .overlay-content {
  background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q11Overlay .overlay-content {
  background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q12Overlay .overlay-content {
  background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q13Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q14Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q15Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q16Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q17Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

#q18Overlay .overlay-content {
  background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218, 0.5));
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Waiting for the Sunrise;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}