@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Waiting+for+the+Sunrise&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://github.com/hrah03/hrah03.github.io/blob/main/Final_Warmth_landingpage.jpg?raw=true');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Waiting for the Sunrise;
    z-index: -1;
}
  
.song-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1000px;
    z-index: 1;
}
  
.song-circle {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 0, 150, 0.5), rgba(0, 200, 255, 0.5));
    color: rgb(109, 109, 109);
    font-size: 22px;
    padding: 20px;
    font-weight: bold;
    animation: distort 8s ease-in-out infinite;
    transition: transform 0.5s ease;
    mix-blend-mode: multiply;
}

.song-circle:hover {
    cursor: alias;
}

@keyframes distort {
    0%, 100% {
      transform: scale(1) skew(2deg, 3deg);
    }
    25% {
      transform: scale(1.05) skew(-3deg, -2deg);
    }
    50% {
      transform: scale(1.1) skew(3deg, -3deg);
    }
    75% {
      transform: scale(1.05) skew(-2deg, 3deg);
    }
}
  
.song-container .song-circle:nth-child(1) { background: radial-gradient(circle, rgba(250, 207, 167, 0.5), rgba(250, 207, 167, 0.5)); }
.song-container .song-circle:nth-child(2) { background: radial-gradient(circle, rgba(229, 182, 202, 0.5), rgba(238, 237, 238, 0.5)); }
.song-container .song-circle:nth-child(3) { background: radial-gradient(circle, rgba(32, 32, 32, 0.5), rgba(239, 239, 239, 0.5)); }
.song-container .song-circle:nth-child(4) { background: radial-gradient(circle, rgba(155, 215, 121, 0.5), rgba(229, 225, 126, 0.5)); }
.song-container .song-circle:nth-child(5) { background: radial-gradient(circle, rgba(174, 220, 228, 0.5), rgba(132, 232, 252, 0.5)); }
.song-container .song-circle:nth-child(6) { background: radial-gradient(circle, rgba(189, 158, 221, 0.5), rgba(159, 189, 225, 0.5)); }
.song-container .song-circle:nth-child(7) { background: radial-gradient(circle, rgba(235, 55, 42, 0.5), rgba(230, 173, 92, 0.5)); }
.song-container .song-circle:nth-child(8) { background: radial-gradient(circle, rgba(235, 133, 209, 0.5), rgba(185, 176, 228, 0.5)); }
.song-container .song-circle:nth-child(9) { background: radial-gradient(circle, rgba(200, 197, 187, 0.5), rgba(255, 246, 228, 0.5)); }
.song-container .song-circle:nth-child(10) { background: radial-gradient(circle, rgba(19, 36, 110, 0.5), rgba(255, 172, 117, 0.5)); }
.song-container .song-circle:nth-child(11) { background: radial-gradient(circle, rgba(76, 23, 129, 0.5), rgba(255, 49, 183, 0.5)); }
.song-container .song-circle:nth-child(12) { background: radial-gradient(circle, rgba(230, 197, 32, 0.5), rgba(255, 249, 218, 0.5)); }

.overlay-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    padding: 23.3px;
    border-radius: 23px;
    color: white;
    text-align: center;
    z-index: 10;
    font-family: Waiting for the Sunrise, light;
    font-size: 16px;
    line-height: 19px;
    cursor: alias;
    z-index: 10;
}

#overlay1 {
    background: radial-gradient(rgba(250, 207, 167), rgba(250, 207, 167));
}

#overlay2 {
    background: radial-gradient(rgba(229, 182, 202), rgba(238, 237, 238));
}

#overlay3 {
    background: radial-gradient(rgba(32, 32, 32), rgba(239, 239, 239));
}

#overlay4 {
    background: radial-gradient(rgba(155, 215, 121), rgba(229, 225, 126));
}

#overlay5 {
    background: radial-gradient(rgba(174, 220, 228), rgba(132, 232, 252));
}

#overlay6 {
    background: radial-gradient(rgba(189, 158, 221), rgba(159, 189, 225));
}

#overlay7 {
    background: radial-gradient(rgba(235, 55, 42), rgba(230, 173, 92));
}

#overlay8 {
    background: radial-gradient(rgba(235, 133, 209), rgba(185, 176, 228));
}

#overlay9 {
    background: radial-gradient(rgba(200, 197, 187), rgba(255, 246, 228));
}

#overlay10 {
    background: radial-gradient(rgba(19, 36, 110), rgba(255, 172, 117));
}

#overlay11 {
    background: radial-gradient(rgba(76, 23, 129), rgba(255, 49, 183));
}

#overlay12 {
    background: radial-gradient(rgba(230, 197, 32), rgba(255, 249, 218));
}

.dimmed-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
.dimmed-background.show {
    display: block;
}
.overlay-card.show {
    display: block;
}

a:link {
    color: lavender;
}

a:visited {
    color:gray;
}

a:hover {
    cursor: pointer;
}

.home-button {
    position: fixed;
    top: 27.7px;
    right: 75px;
    font-size: 30px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .home-button:hover {
    animation: rotate 8s linear infinite;
  }
  
  @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  
  .back-button {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 27px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }