@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Waiting+for+the+Sunrise&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('https://github.com/hrah03/hrah03.github.io/blob/main/Warmth_landingpage2.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-family: Waiting for the Sunrise;
    font-size: 28px;
    position: absolute;
}

.position1 {
    top: 38.8%;
    right: 31.8%;
}

.position2 {
    top: 60.2%;
    left: 26%;
}

.position3 {
    top: 73%;
    left: 8%;
}

.position1 a, .position2 a, .position3 a {
    color: gold;
    text-shadow: 0px 0px 8px rgba(255, 215, 0, 0.7);
    text-decoration: none;
    cursor: pointer;
}

.home-button {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.home-button:hover {
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}